.container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.3s all ease;
}

.container:hover {
  opacity: 1;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-block: 10px;
  transform: translateY(100%);
  transition: 0.3s all ease;
  transition-delay: 0.3s;
}

.container:hover .box {
  transform: translateY(0);
}

.title {
  font-size: 20px;
  text-transform: capitalize;
  color: white;
}

.button {
  padding: 16px;
  color: white;
  font-weight: 600;
  background-color: black;
}
